.button {
    background-color: #00A3F4;
    box-shadow: 0px 20px 30px -15px #00A3F4;
    color: white;
    border-radius: 100px;
    width: 232px;
    height: 48px;
    margin-top: 16px;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.damogo {
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
}

.bold-title {
    font-weight: bold;
    font-size: 36px;
    line-height: 43px;
    margin-bottom: 55px;
}

.detail-text {
    width: 643px;
    height: 87px;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
}