.firstContainer {
    height: 586px;
    padding: 39px 116px 0px 116px;

    .header-comp {
        display: flex;
        justify-content: space-between;

        .logo {
            width: 113px;
            height: 24.82px;
            cursor: pointer;
            z-index: 10;
        }

        .menu {
            font-size: 18px;
            line-height: 21px;
            font-weight: bold; 
            width: 303px;
            display: flex;
            justify-content: space-between;
            
            .active {
                color: #00A3F4;
            }

            span{
                cursor: pointer;
            }
        }
    }

    .content {
        display: flex;

        .text-comp {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            text-align: left;
            margin-top: 106.2px;
            z-index: 10;

            .title-text {
                font-weight: bold;
                font-size: 72px;
                line-height: 86px;
                width: 423px;
                height: 172px;
                margin-bottom: 19px;
                z-index: 10;
            }

            .detail {
                font-size: 18px;
                line-height: 21px;
                width: 503px;
                height: 63px;
                margin-bottom: 40px;
            }
        }

        .image-comp {
            .rectangle {
                position: relative;
                width: 666px;
                height: 391px;
                left: 4.9rem;
                top: 10.6rem;
                z-index: 0;
            }

            .circle{
                position: relative;
                z-index: 5;
                bottom: 18.7rem;
                left: 7rem;
            }

            .vector {
                position: relative;
                width: 42px;
                height: auto;
                z-index: 10;
                background: rgba(0, 163, 244, 0.2);
                box-shadow: inset 0px 0px 4px #FFFFFF;
                backdrop-filter: blur(5px);
                border-radius: 100px;
                top: -42.8rem;
                right: 12.6rem;
                padding: 10px;
                border: 2px solid white;

                &.second {
                    width: 26.5px !important;
                    padding: 20px;
                    top: -38rem;
                    right: 0.1rem;
                }

                &.third {
                    width: 84px;
                    padding: 39px 19px;
                    border-radius: 24px;
                    top: -26rem;
                    left: 15rem;
                }
            }

            .spark {
                position: relative;
                bottom: 45rem;
                right: 13.3rem;
                z-index: 10;

                &.second {
                    left: 14rem;
                    bottom: 36rem;
                }
            }

            .whatsapp{
                position: relative;
                z-index: 10;
                background-color: #3AE058;
                padding: 17px;
                border-radius: 99px;
                cursor: pointer;
                bottom: 23.5rem;
                left: 12rem;
            }
        }
    }
}

.blush {
        position: absolute;
        left: -1rem;
        z-index: 0 !important;
    }