.forthContainer {
    display: flex;
    flex-direction: column;
    height: 422px;

    .damogo {
        color: #00A3F4;
        margin-top: 65px;
        margin-bottom: 12px;
    }

    .bold-title {
        margin-bottom: 71px;
    }

    .stores {
        display: flex;
        width: 100%;
        justify-content: center;

        img {
            cursor: pointer;
            -webkit-filter: grayscale(100%);
            filter: grayscale(100%);

            &:hover {
                -webkit-filter: grayscale(100%) !important;
                filter: grayscale(10%) !important;
            
            }
        }
    }
}