.secondContainer {
    height: 828px;
    display: flex;
    flex-direction: column;

    .damogo {
        color: #00A3F4;
        margin-top: 93px;
        margin-bottom: 12px;
    }

    .bold-title {
        margin-bottom: 37px;
    }

    .blur-effect {
        position: absolute;
        width: 650px;
        height: 650px;
        left: 45rem;
        top: 669px;
        z-index: 0;
    }

    .content {
        display: flex;

        .text-comp {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            text-align: left;
            margin-top: 135px;
            z-index: 10;
    
            .text {
                font-weight: bold;
                font-size: 24px;
                line-height: 29px;
                width: 617px;
                height: 174px;
    
                .bold-text {
                    color: #00A3F4;
                }
            }
        }
    
        .image-comp {
            width: 619px;

            .display {
                width: 263px;
                height: 525px;
                position: relative;
                box-shadow: 0px 50px 40px -25px rgba(0, 0, 0, 0.15);
                z-index: 5;
            }

            .circle {
                position: relative;
                z-index: 0;
                bottom: 31rem;
                left: 3.5rem;
            }

            .blue-circle-1{
                position: relative;
                bottom: 41.8rem;
            }

            .blue-circle-2 {
                position: relative;
                bottom: 35.5rem;
                right: 28rem;
            }
        }
    }
}