.sevenContainer {
    width: 100%rem;
    height: 414px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 62px 120px;

    img {
        width: 113px;
        height: 24.82px;
        margin-bottom: 62px;
    }

    .infoContainer {
        display: flex;
        text-align: left;

        label {
            font-weight: bold;
            font-size: 18px;
            line-height: 21px;
            }

        span {
            font-size: 14px;
            line-height: 17px;
        }

        .information {
            display: flex;

            .ikuti {
                width: 137px;
                margin-right: 104px;
                display: flex;
                flex-direction: column;
            }

            .hubungi {
                width: 278px;
                margin-right: 264px;
            }
        }
    }    
}