.sixthContainer {
    display: flex;
    background-color: #009673;
    height: 478px;
    color: white;

    .image-comp {
        width: 627px;
        
        .phone {
            width: 274px;
            height: auto;
            position: relative;
            z-index: 10;
            top: 97px;
            right: 60px;
        }

        .ellipse {
            position: relative;
            width: 435px;
            height: auto;
            right: 60px;
            bottom: 125px;
            z-index: 0 !important;
        }
    }

    .text-comp {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        text-align: left;
        margin-left: 50px;
        margin-right: 120px;

        .damogo {
            margin-top: 65px;
            margin-bottom: 12px;
        }
    }
}