.thirdContainer {
    width: 100%;
    height: 525px;
    background: linear-gradient(270deg, #FFBB00 0%, rgba(223, 244, 255, 0) 100%);
    display: flex;
    justify-content: space-between;

    .text-comp {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        text-align: left;
        margin-left: 118px;

        .damogo {
            margin-top: 41px;
            color: #FFBB00;
            margin-bottom: 15px;
        }

        .bold-title {
            margin-bottom: 65px;
            width: 574px;
        }

        .detail {
            width: 615px;
            font-weight: normal;
            font-size: 24px;
            line-height: 29px;
            margin-bottom: 1px;
        }

        .bold-text {
            color: #FFBB00;
            font-size: 24px;
            font-weight: bold;
        }
    }

    .image-comp {
        .ellipse-yellow {
            background: linear-gradient(270deg, rgba(223, 244, 255, 0) 0%, #FFBB00 100%);
            box-shadow: inset 5px 0px 20px rgba(0, 0, 0, 0.1);
            border-radius: 1000px 0px 0px 1000px;
            width: 565px;
            height: 525px;
            position: relative;
            left: 4.3rem;
        }

        .food {
            width: 400px;
            height: 400px;
            position: relative;
            bottom: 28.5rem;
        }

        .shine-comp {
            position: relative;

            .shine-1 {
                position: relative;
                bottom: 56rem;
                left: 14.5rem;
            }

            .shine-2 {
                position: relative;
                bottom: 69rem;
                left: -0.9rem;
            }

            .shine-3 {
                position: relative;
                bottom: 82rem;
            }

            .shine-4 {
                position: relative;
                bottom: 104rem;
            }
        }
    }
}