@import url(//db.onlinewebfonts.com/c/23c8ec0d7b298e340b59bd32a7e661f3?family=SF+Compact+Display);

.body {
    width: 1366px;
    font-family: SF Compact Display;
}

.title {
    position: absolute;
    width: 423px;
    height: 172px;
    left: 120px;
    top: 168px;
    font-style: normal;
    font-weight: bold;
    font-size: 72px;
    line-height: 86px;
}